@font-face {
    font-family: 'Grenoble';
    src: url('font/Grenoble-Serial-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Fontoon';
    src: url("font/FontoonITCStd.otf") format("opentype");
}

header{
    width: 100%;
    position: relative;
}

#logo{
    position: absolute;
    left:0px;
    margin-left: 17px;
    padding-left: 20px;
    width: 370px;
}

header > #logo > h1 {
    font-family:Grenoble;
    margin:0px;
    font-size: 48px;
    color: #4F2A77;
    font-weight: 700;
}

header > #logo > h4 {
    font-family:Fontoon;
    font-size: 12px;
    color: #A7C3B5;
    margin: 0px;
    margin-left:150px;
}

#right-bar{
    position: absolute;
    right: 45px;
}

.box{
    float:left;
    height: 60px;
    padding-top: 5px;
    padding-left: 5px;
}

.left-border{
    width: 110px;
    padding-left: 10px;
    border: 3px solid #B5BDD8;
    border-radius: 15px 0px 0px 15px;
    background-color: #D0E9F0;
    font-family: Open Sans;
    font-size: 14px;
    color: #A996B7;    
}

.right-border{
    font-family: Open Sans;
    font-size: 17.5px;
    color: #CA7652;    
    width: 280px;  
    border: 3px solid #B5BDD8;
    border-radius: 0px 15px 15px 0px;
    background-color: #D0E9F0;
    position: relative;
}

.right-border div , .right-border img{
    position: absolute;
}


ul{
    list-style-type: none;
}

ul > li {
    float:left;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    color: #A6A593;    
    padding:0px 40px 0px 0px; 
}

#navbar{
    background: url('./pics/head-bar.PNG') ;
    background-repeat: no-repeat;
    height: 30px;
    padding-top: 10px;
    position: absolute;
    top:80px;
    width:855px;
}

#flag{
    position: absolute;
    right: 0px;
    height: 20px;
    width: 123px;
    border: 2px solid black;
    padding: 2px;
    
}

.container{
    width: 100%;
    position: relative;
    top: 140px;
}

.container > .row{
    position: absolute
}

.row>img,.row>div{
    float:left;
    padding-right: 10px;
}

.saleBox {
    width: 254px;
    background-color: #EF7A82;
    padding: 10px;
}


.salebox-mention {
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 800;
    color: white;
}
.salebox-num-mention {
    font-family: Open Sans;
    font-size: 65px;
    font-weight: 800;
    color: white;
}
.salebox-perc {
    font-family: Open Sans;
    font-size: 43px;
    font-weight: 500;
    color: white;
}
.salebox-off {
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 500;
    color: white;
}


footer{
    width: 100%;
    position: relative;
    top: 550px;
}

.babyBox {
    position: absolute;
    width: 305px;
    height: 105px;
    background-color: #B49AC1;
}

.babybox-pic {
    position: absolute;
    top: 30px;
    left: 10px;
}
.babybox-topic {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 0px;
    left: 10px;
}
.babybox-sub {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    color: white;
    position: absolute;
    top: 30px;
    left: 137px;
    width: 155px;
}

.subscribeBox {
    position: absolute;
    left: 315px;
    width: 540px;
    height: 105px;
    background-color: #8DCAC3;
}

.conver-logo {
    position: absolute;
    top: 30px;
    left: 40px;
}
.shopcart-logo {
    position: absolute;
    top: 20px;
    left: 260px;
}
.conver-topic {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 15px;
    left: 135px;
}
.conver-sub {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 35px;
    left: 135px;
    width: 110px;
}
.shopcart-topic {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 15px;
    left: 350px;
}
.shopcart-sub {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 35px;
    left: 350px;
    width: 170px;
}